node-red/flows_radio.json
[{"id":"dfd378b4.85d128","type":"tab","label":"System","disabled":false,"info":""},{"id":"b77382f8.77c7d","type":"tab","label":"Radio 0","disabled":false,"info":""},{"id":"c2849b3.7733668","type":"tab","label":"Radio 1","disabled":false,"info":""},{"id":"3ae03702.6cf7c8","type":"group","z":"dfd378b4.85d128","name":"System Temperature","style":{"label":true},"nodes":["fe2438ee.cbc208","4b6c1cb4.55ce54","6f467ac5.eb0754"],"x":74,"y":31.5,"w":512,"h":97},{"id":"52bc8b6d.4ad574","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#646868","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Radio Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"MM/DD/YYYY","sizes":{"sx":48,"sy":48,"gx":8,"gy":8,"cx":8,"cy":8,"px":0,"py":0}}},{"id":"7f0de3de.6266bc","type":"ui_tab","name":"System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8b4f392b.3ed598","type":"ui_group","name":"System","tab":"7f0de3de.6266bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"f07ec48b.ef4d18","type":"ui_tab","name":"Radio 0","icon":"dashboard","disabled":false,"hidden":false},{"id":"8c1e6f34.9c377","type":"ui_group","name":"NYPD","tab":"f07ec48b.ef4d18","order":2,"disp":true,"width":"6","collapse":true},{"id":"b22a2364.cc38","type":"ui_group","name":"Actions","tab":"f07ec48b.ef4d18","order":8,"disp":true,"width":6,"collapse":true},{"id":"6b759525.0b49ec","type":"ui_tab","name":"Radio 1","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"eed1c6f7.18a858","type":"ui_group","name":"Controls","tab":"f07ec48b.ef4d18","order":9,"disp":false,"width":6,"collapse":false},{"id":"5d440bf2.4ffbd4","type":"ui_group","name":"Tuner Parameters","tab":"f07ec48b.ef4d18","order":7,"disp":true,"width":6,"collapse":true},{"id":"564a9c25.d8e644","type":"ui_group","name":"Frequencies","tab":"f07ec48b.ef4d18","order":5,"disp":true,"width":"6","collapse":true},{"id":"17f7261c.630faa","type":"ui_group","name":"Ham Calling","tab":"f07ec48b.ef4d18","order":3,"disp":true,"width":"6","collapse":true},{"id":"86b2a9fa.91e598","type":"ui_group","name":"NYC Repeaters","tab":"f07ec48b.ef4d18","order":4,"disp":true,"width":"6","collapse":true},{"id":"8c1f9590.97e718","type":"ui_group","name":"Weather","tab":"f07ec48b.ef4d18","order":6,"disp":true,"width":"6","collapse":true},{"id":"33d9f179.5fc76e","type":"ui_group","name":"Monitor","tab":"f07ec48b.ef4d18","order":1,"disp":true,"width":"10","collapse":true},{"id":"fe2438ee.cbc208","type":"exec","z":"dfd378b4.85d128","g":"3ae03702.6cf7c8","command":"/home/rlevit/scripts/temperature","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temperature","x":350,"y":80,"wires":[["6f467ac5.eb0754"],[],[]]},{"id":"4b6c1cb4.55ce54","type":"inject","z":"dfd378b4.85d128","g":"3ae03702.6cf7c8","name":"Trigger","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"true","payloadType":"bool","x":180,"y":80,"wires":[["fe2438ee.cbc208"]]},{"id":"6f467ac5.eb0754","type":"ui_text","z":"dfd378b4.85d128","g":"3ae03702.6cf7c8","group":"8b4f392b.3ed598","order":0,"width":0,"height":0,"name":"sys_temp","label":"System Temperature","format":"{{msg.payload}}℃","layout":"col-center","x":500,"y":80,"wires":[]},{"id":"a532c2b5.0e645","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Citywide","label":"Citywide","tooltip":"","place":"","group":"8c1e6f34.9c377","order":1,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":780,"y":80,"wires":[["b0b06807.6bd448"]]},{"id":"d8ec9a42.ad7708","type":"function","z":"b77382f8.77c7d","name":"NYPD CW","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"NYPD CW 1\":\"470.6875\"},\n    {\"NYPD CW 2\":\"470.7125\"},\n    {\"NYPD CW 3\":\"470.8625\"},\n    {\"NYPD CW 4\":\"470.8875\"},\n    {\"NYPD SI CW 1\":\"482.6625\"},\n    {\"NYPD SI CW 2\":\"482.6375\"},\n    {\"NYPD SI CW 3\":\"482.4375\"},\n    {\"NYPD SI Traffic\":\"482.4625\"},\n    {\"NYPD Traffic\":\"470.8125\"},\n    {\"NYPD WTC\":\"470.6625\"}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["cb2b51b0.8fd79"]]},{"id":"cb2b51b0.8fd79","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["a532c2b5.0e645"]]},{"id":"43f7d49c.ffdbcc","type":"ui_switch","z":"b77382f8.77c7d","name":"Play","label":"Play","tooltip":"","group":"b22a2364.cc38","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":960,"wires":[["96049e44.e0374"]]},{"id":"907d738c.fd8cd","type":"ui_switch","z":"b77382f8.77c7d","name":"Stream","label":"Stream","tooltip":"","group":"b22a2364.cc38","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":880,"wires":[["85cdef37.77b13"]]},{"id":"8d56fb06.269988","type":"ui_form","z":"b77382f8.77c7d","name":"Manual Frequencies","label":"","group":"564a9c25.d8e644","order":1,"width":6,"height":5,"options":[{"label":"","value":"Frequency 1","type":"text","required":false,"rows":null},{"label":"","value":"Frequency 2","type":"text","required":false,"rows":null},{"label":"","value":"Frequency 3","type":"text","required":false,"rows":null},{"label":"","value":"Frequency 4","type":"text","required":false,"rows":null}],"formValue":{"Frequency 1":"","Frequency 2":"","Frequency 3":"","Frequency 4":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":380,"y":320,"wires":[["b66ac7ec.af33c8"]]},{"id":"13456858.9d9da8","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Brooklyn","label":"Brooklyn","tooltip":"","place":"","group":"8c1e6f34.9c377","order":4,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":780,"y":120,"wires":[["95a25802.c145c8"]]},{"id":"fd6856a4.b554e8","type":"function","z":"b77382f8.77c7d","name":"NYPD Brooklyn","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"Patrol Boro Brooklyn\":\"470.987500\"},\n    {\"Precincts 72, 76, 78\":\"476.412500\"},\n    {\"Precincts 60, 61\":\"476.462500\"},\n    {\"Precincts 62, 68\":\"476.512500\"},\n    {\"Precincts 90, 94\":\"476.687500\"},\n    {\"Precincts 77, 79\":\"476.737500\"},\n    {\"Precincts 84,88\":\"476.762500\"},\n    {\"Precincts 81, 83\":\"476.787500\"},\n    {\"Precincts 66, 70\":\"476.862500\"},\n    {\"Precincts 63, 69\":\"476.937500\"},\n    {\"Precincts 73, 75\":\"476.987500\"},\n    {\"Precincts 67, 71\":\"477.012500\"}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["a16e1a9e.e53868"]]},{"id":"a16e1a9e.e53868","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["13456858.9d9da8"]]},{"id":"5ce30fb1.879c2","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Manhattan","label":"Manhattan","tooltip":"","place":"","group":"8c1e6f34.9c377","order":2,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":160,"wires":[["b44c65c2.907638"]]},{"id":"9016f9d2.852d18","type":"function","z":"b77382f8.77c7d","name":"NYPD Manhattan","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"Patrol Boro Brooklyn\tWIK933\":\"470.9875\"},\n    {\"Precincts 72, 76, 78\tWIF555\":\"476.4125\"},\n    {\"Precincts 60, 61\tWIF557\":\"476.4625\"},\n    {\"Precincts 62, 68\tWIF580\":\"476.5125\"},\n    {\"Precincts 90, 94\tWIF546\":\"476.6875\"},\n    {\"Precincts 77, 79\tWIF540\":\"476.7375\"},\n    {\"Precincts 84,88\tWIF556\":\"476.7625\"},\n    {\"Precincts 81, 83\tWIF554\":\"476.7875\"},\n    {\"Precincts 66, 70\tWIF551\":\"476.8625\"},\n    {\"Precincts 63, 69\tWIF574\":\"476.9375\"},\n    {\"Precincts 73, 75\tWIF553\":\"476.9875\"},\n    {\"Precincts 67, 71\tWIF581\":\"477.0125\"}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[["2695d9e.3731e26"]]},{"id":"2695d9e.3731e26","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["5ce30fb1.879c2"]]},{"id":"830585ef.4ac068","type":"debug","z":"b77382f8.77c7d","name":"values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1660,"wires":[]},{"id":"49b96395.51a17c","type":"change","z":"b77382f8.77c7d","name":"set_citywide_freq_var","rules":[{"t":"set","p":"citywide_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":80,"wires":[[]]},{"id":"66072eb.cb7b6d","type":"inject","z":"b77382f8.77c7d","name":"citywide_freq","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"citywide_freq","payloadType":"flow","x":130,"y":1580,"wires":[["830585ef.4ac068"]]},{"id":"40600acf.3534c4","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Sample Rate","label":"Sample Rate","tooltip":"Sample Rate","place":"","group":"5d440bf2.4ffbd4","order":3,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":460,"wires":[["1f6806b8.4f18f9"]]},{"id":"fb0e5184.463a7","type":"function","z":"b77382f8.77c7d","name":"Sample Rate","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"24K\":\"24000\"},\n    {\"30K\":\"30000\"},\n    {\"32K\":\"32000\"},\n    {\"41K\":\"41000\"}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":460,"wires":[["b8e05207.63c93"]]},{"id":"b8e05207.63c93","type":"change","z":"b77382f8.77c7d","name":"Set Sample Rate values","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":460,"wires":[["40600acf.3534c4"]]},{"id":"dace8aeb.b07b48","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Gain","label":"Gain","tooltip":"","place":"","group":"5d440bf2.4ffbd4","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":770,"y":500,"wires":[["66bd3150.fca6e"]]},{"id":"936c51b2.5aa69","type":"function","z":"b77382f8.77c7d","name":"Gain","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"Auto\":\"auto\"},\n    {\"0.0\":\"0.0\"},\n    {\"0.9\":\"0.9\"},\n    {\"1.4\":\"1.4\"},\n    {\"2.7\":\"2.7\"},\n    {\"3.7\":\"3.7\"},\n    {\"7.7\":\"7.7\"},\n    {\"8.7\":\"8.7\"},\n    {\"12.5\":\"12.5\"},\n    {\"14.4\":\"14.4\"},\n    {\"15.7\":\"15.7\"},\n    {\"16.6\":\"16.6\"},\n    {\"19.7\":\"19.7\"},\n    {\"20.7\":\"20.7\"},\n    {\"22.9\":\"22.9\"},\n    {\"25.4\":\"25.4\"},\n    {\"28.0\":\"28.0\"},\n    {\"29.7\":\"29.7\"},\n    {\"32.8\":\"32.8\"},\n    {\"33.8\":\"33.8\"},\n    {\"36.4\":\"36.4\"},\n    {\"37.2\":\"37.2\"},\n    {\"38.6\":\"38.6\"},\n    {\"40.2\":\"40.2\"},\n    {\"42.1\":\"42.1\"},\n    {\"43.4\":\"43.4\"},\n    {\"43.9\":\"43.9\"},\n    {\"44.5\":\"44.5\"},\n    {\"48.0\":\"48.0\"},\n    {\"49.6\":\"49.6\"}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["b229b3f7.646f"]]},{"id":"b229b3f7.646f","type":"change","z":"b77382f8.77c7d","name":"Set Gain values","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["dace8aeb.b07b48"]]},{"id":"1713c260.b220ae","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Mode","label":"Mode","tooltip":"","place":"","group":"5d440bf2.4ffbd4","order":2,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":770,"y":420,"wires":[["a84f0a7a.439ce8"]]},{"id":"566db21e.ea132c","type":"function","z":"b77382f8.77c7d","name":"Mode","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"fm\":\"fm\"},\n    {\"wbfm\":\"wbfm\"},\n    {\"am\":\"am\"}\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":420,"wires":[["545f062a.ee4e78"]]},{"id":"545f062a.ee4e78","type":"change","z":"b77382f8.77c7d","name":"Set Mode values","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["1713c260.b220ae"]]},{"id":"a84f0a7a.439ce8","type":"change","z":"b77382f8.77c7d","name":"Mode to option","rules":[{"t":"set","p":"mode","pt":"flow","to":"$join([' -M', msg.payload], ' ')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":420,"wires":[[]]},{"id":"27054315.e0b78c","type":"inject","z":"b77382f8.77c7d","name":"Test mode value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mode","payloadType":"flow","x":140,"y":1620,"wires":[["830585ef.4ac068"]]},{"id":"1f6806b8.4f18f9","type":"change","z":"b77382f8.77c7d","name":"Sample Rate to option","rules":[{"t":"set","p":"sample_rate","pt":"flow","to":"$join([' -s', $formatNumber(msg.payload, '#####')], ' ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":460,"wires":[[]]},{"id":"81443541.d20fd8","type":"inject","z":"b77382f8.77c7d","name":"Test sample rate value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sample_rate","payloadType":"flow","x":160,"y":1660,"wires":[["830585ef.4ac068"]]},{"id":"942a1ff5.41cc4","type":"change","z":"b77382f8.77c7d","name":"Gain to option","rules":[{"t":"set","p":"gain","pt":"flow","to":"$join([' -g', $formatNumber(msg.payload, '#0.0;(#0.0)')], ' ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":540,"wires":[[]]},{"id":"ac1e35e9.281148","type":"inject","z":"b77382f8.77c7d","name":"Test gain value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gain","payloadType":"flow","x":140,"y":1700,"wires":[["830585ef.4ac068"]]},{"id":"4004e33f.b5ec7c","type":"ui_slider","z":"b77382f8.77c7d","name":"Squelch","label":"","tooltip":"","group":"5d440bf2.4ffbd4","order":5,"width":6,"height":1,"passthru":false,"outs":"all","topic":"","min":"50","max":"100","step":1,"x":780,"y":580,"wires":[["b8d8dc92.01a7","df5fcf6c.13517"]]},{"id":"b8d8dc92.01a7","type":"ui_text","z":"b77382f8.77c7d","group":"5d440bf2.4ffbd4","order":4,"width":6,"height":1,"name":"Squelch","label":"Squelch","format":"{{msg.payload}}","layout":"row-left","x":960,"y":560,"wires":[]},{"id":"df5fcf6c.13517","type":"change","z":"b77382f8.77c7d","name":"Squelch to option","rules":[{"t":"set","p":"squelch","pt":"flow","to":"$join([' -l', $formatNumber(msg.payload, '##')], ' ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":580,"wires":[[]]},{"id":"a7a027b5.041ac8","type":"inject","z":"b77382f8.77c7d","name":"Test squelch value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"squelch","payloadType":"flow","x":150,"y":1740,"wires":[["830585ef.4ac068"]]},{"id":"66bd3150.fca6e","type":"switch","z":"b77382f8.77c7d","name":"auto or number","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"auto","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":500,"wires":[["55dc43f2.d298ec"],["942a1ff5.41cc4"]],"outputLabels":["auto","number"]},{"id":"55dc43f2.d298ec","type":"change","z":"b77382f8.77c7d","name":"Gain auto","rules":[{"t":"set","p":"gain","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":500,"wires":[[]]},{"id":"b66ac7ec.af33c8","type":"change","z":"b77382f8.77c7d","name":"Manual Freqs","rules":[{"t":"set","p":"manual_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":320,"wires":[[]]},{"id":"235d3169.839f6e","type":"inject","z":"b77382f8.77c7d","name":"Test man_freq","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"manual_freq","payloadType":"flow","x":130,"y":1860,"wires":[["830585ef.4ac068"]]},{"id":"5cd0f9f1.dab398","type":"ui_switch","z":"b77382f8.77c7d","name":"Activate","label":"Activate","tooltip":"","group":"eed1c6f7.18a858","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":800,"wires":[["2507f5f3.89de8a"]]},{"id":"1d390a47.64ef46","type":"exec","z":"b77382f8.77c7d","command":"/home/rlevit/scripts/rtl-fm","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start rtl-fm ","x":1470,"y":760,"wires":[["6633c586.ee4afc"],["ecf44731.463638"],[]]},{"id":"8787b582.5f4e18","type":"change","z":"b77382f8.77c7d","name":"Set to enable Stream","rules":[{"t":"set","p":"stream","pt":"flow","to":" --stream","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":860,"wires":[[]]},{"id":"85cdef37.77b13","type":"switch","z":"b77382f8.77c7d","name":"Check stream state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":880,"wires":[["8787b582.5f4e18"],["31781a5f.832d16"]],"outputLabels":["on","off"]},{"id":"31781a5f.832d16","type":"change","z":"b77382f8.77c7d","name":"Set to disable Stream","rules":[{"t":"set","p":"stream","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":900,"wires":[[]]},{"id":"e84d7288.10a6a","type":"change","z":"b77382f8.77c7d","name":"Set to enable Play","rules":[{"t":"set","p":"play","pt":"flow","to":" --play","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":940,"wires":[[]]},{"id":"96049e44.e0374","type":"switch","z":"b77382f8.77c7d","name":"Check play state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":960,"wires":[["e84d7288.10a6a"],["daf4d749.9f1438"]],"outputLabels":["on","off"]},{"id":"daf4d749.9f1438","type":"change","z":"b77382f8.77c7d","name":"Set to disable Play","rules":[{"t":"set","p":"play","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":980,"wires":[[]]},{"id":"d517d60e.d92498","type":"inject","z":"b77382f8.77c7d","name":"Test play value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"play","payloadType":"flow","x":140,"y":1780,"wires":[["830585ef.4ac068"]]},{"id":"d5ebeaab.07e3f8","type":"inject","z":"b77382f8.77c7d","name":"Test stream value","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stream","payloadType":"flow","x":140,"y":1820,"wires":[["830585ef.4ac068"]]},{"id":"2cb59d96.f06452","type":"inject","z":"b77382f8.77c7d","name":"Initialize on start by setting to OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":300,"y":800,"wires":[["907d738c.fd8cd","43f7d49c.ffdbcc","e428f23a.dad1","ee541757.ced128","755ccf14.d4fbe","77e23ed4.8ab16","5cd0f9f1.dab398"]]},{"id":"e428f23a.dad1","type":"ui_switch","z":"b77382f8.77c7d","name":"Play-SAR","label":"Play-SAR","tooltip":"","group":"b22a2364.cc38","order":3,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":1040,"wires":[["420fb3e5.a2b6ac"]]},{"id":"7ca27014.185f7","type":"change","z":"b77382f8.77c7d","name":"Set to enable Play-SAR","rules":[{"t":"set","p":"play-sar","pt":"flow","to":" --play-sar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1020,"wires":[[]]},{"id":"420fb3e5.a2b6ac","type":"switch","z":"b77382f8.77c7d","name":"Check play-sar state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":1040,"wires":[["7ca27014.185f7"],["17d3b2d9.1c8fbd"]],"outputLabels":["on","off"]},{"id":"17d3b2d9.1c8fbd","type":"change","z":"b77382f8.77c7d","name":"Set to disable Play-SAR","rules":[{"t":"set","p":"play-sar","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1060,"wires":[[]]},{"id":"ee541757.ced128","type":"ui_switch","z":"b77382f8.77c7d","name":"SAR","label":"SAR","tooltip":"","group":"b22a2364.cc38","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":1120,"wires":[["333be25d.0268de"]]},{"id":"f37529c0.84e108","type":"change","z":"b77382f8.77c7d","name":"Set to enable SAR","rules":[{"t":"set","p":"sar","pt":"flow","to":" --sar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1100,"wires":[[]]},{"id":"333be25d.0268de","type":"switch","z":"b77382f8.77c7d","name":"Check sar state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":1120,"wires":[["f37529c0.84e108"],["7a194375.35b83c"]],"outputLabels":["on","off"]},{"id":"7a194375.35b83c","type":"change","z":"b77382f8.77c7d","name":"Set to disable SAR","rules":[{"t":"set","p":"sar","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1140,"wires":[[]]},{"id":"755ccf14.d4fbe","type":"ui_switch","z":"b77382f8.77c7d","name":"Transcribe","label":"Transcribe","tooltip":"","group":"b22a2364.cc38","order":5,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":1200,"wires":[["9167a2bb.85964"]]},{"id":"cef74894.26b628","type":"change","z":"b77382f8.77c7d","name":"Set to enable transcribe","rules":[{"t":"set","p":"transcribe","pt":"flow","to":" --transcribe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1180,"wires":[[]]},{"id":"9167a2bb.85964","type":"switch","z":"b77382f8.77c7d","name":"Check transcribe state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":1200,"wires":[["cef74894.26b628"],["a70ef6c3.906308"]],"outputLabels":["on","off"]},{"id":"a70ef6c3.906308","type":"change","z":"b77382f8.77c7d","name":"Set to disable transcribe","rules":[{"t":"set","p":"transcribe","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1220,"wires":[[]]},{"id":"77e23ed4.8ab16","type":"ui_switch","z":"b77382f8.77c7d","name":"Deinvert","label":"Deinvert","tooltip":"","group":"b22a2364.cc38","order":6,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":1280,"wires":[["9b9993.0882e67"]]},{"id":"be7d4ce7.26ba1","type":"change","z":"b77382f8.77c7d","name":"Set to enable deinvert ","rules":[{"t":"set","p":"deinvert","pt":"flow","to":" --deinvert 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1260,"wires":[[]]},{"id":"9b9993.0882e67","type":"switch","z":"b77382f8.77c7d","name":"Check deinvert state","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":1280,"wires":[["be7d4ce7.26ba1"],["ad7bac27.8cd09"]],"outputLabels":["on","off"]},{"id":"ad7bac27.8cd09","type":"change","z":"b77382f8.77c7d","name":"Set to disable deinvert ","rules":[{"t":"set","p":"deinvert","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1300,"wires":[[]]},{"id":"d2912b78.f756d8","type":"status","z":"b77382f8.77c7d","name":"Play","scope":["43f7d49c.ffdbcc"],"x":70,"y":1000,"wires":[["218f7357.fa30bc"]]},{"id":"ecf44731.463638","type":"debug","z":"b77382f8.77c7d","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":800,"wires":[]},{"id":"218f7357.fa30bc","type":"switch","z":"b77382f8.77c7d","name":"Play ON","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":1000,"wires":[["e47a34d9.a12fa8"]],"outputLabels":["on"]},{"id":"e47a34d9.a12fa8","type":"change","z":"b77382f8.77c7d","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1000,"wires":[["907d738c.fd8cd","e428f23a.dad1","ee541757.ced128","755ccf14.d4fbe"]]},{"id":"62f3dce3.cc0c04","type":"debug","z":"b77382f8.77c7d","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1740,"wires":[]},{"id":"58aa4b89.a66c94","type":"status","z":"b77382f8.77c7d","name":"Stream","scope":["907d738c.fd8cd"],"x":70,"y":920,"wires":[["fa5aff45.f6832"]]},{"id":"fa5aff45.f6832","type":"switch","z":"b77382f8.77c7d","name":"Stream ON","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":920,"wires":[["ddacbcfe.db062"]],"outputLabels":["on"]},{"id":"ddacbcfe.db062","type":"change","z":"b77382f8.77c7d","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":920,"wires":[["43f7d49c.ffdbcc","e428f23a.dad1","ee541757.ced128","755ccf14.d4fbe"]]},{"id":"ee382500.27d908","type":"status","z":"b77382f8.77c7d","name":"Play-SAR","scope":["e428f23a.dad1"],"x":80,"y":1080,"wires":[["ece11c87.1c3ad"]]},{"id":"ece11c87.1c3ad","type":"switch","z":"b77382f8.77c7d","name":"Play-SAR ON","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1080,"wires":[["6af6a09.e5f646"]],"outputLabels":["on"]},{"id":"6af6a09.e5f646","type":"change","z":"b77382f8.77c7d","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1080,"wires":[["907d738c.fd8cd","43f7d49c.ffdbcc","ee541757.ced128"]]},{"id":"6790ab92.f4c054","type":"status","z":"b77382f8.77c7d","name":"SAR","scope":["ee541757.ced128"],"x":70,"y":1160,"wires":[["e02748c5.16d498"]]},{"id":"e02748c5.16d498","type":"switch","z":"b77382f8.77c7d","name":"SAR ON","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":1160,"wires":[["46c3f183.a1de7"]],"outputLabels":["on"]},{"id":"46c3f183.a1de7","type":"change","z":"b77382f8.77c7d","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1160,"wires":[["907d738c.fd8cd","43f7d49c.ffdbcc","e428f23a.dad1"]]},{"id":"70a41e20.09aea","type":"status","z":"b77382f8.77c7d","name":"Transcribe","scope":["755ccf14.d4fbe"],"x":80,"y":1240,"wires":[["544dc0d9.12bbe"]]},{"id":"544dc0d9.12bbe","type":"switch","z":"b77382f8.77c7d","name":"TR ON","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":1240,"wires":[["7f6a30b7.888df"]],"outputLabels":["on"]},{"id":"7f6a30b7.888df","type":"change","z":"b77382f8.77c7d","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1240,"wires":[["43f7d49c.ffdbcc","907d738c.fd8cd"]]},{"id":"b0b06807.6bd448","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":80,"wires":[["49b96395.51a17c"]]},{"id":"95a25802.c145c8","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":120,"wires":[["a4e37c03.2a8f4"]]},{"id":"b44c65c2.907638","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":160,"wires":[["934259d3.fca288"]]},{"id":"a4e37c03.2a8f4","type":"change","z":"b77382f8.77c7d","name":"set_brkln_freq_var","rules":[{"t":"set","p":"brooklyn_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":120,"wires":[[]]},{"id":"934259d3.fca288","type":"change","z":"b77382f8.77c7d","name":"set_manhattan_freq_var","rules":[{"t":"set","p":"manhattan_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":160,"wires":[[]]},{"id":"770e2d30.383994","type":"inject","z":"b77382f8.77c7d","name":"brooklyn_freq","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"brooklyn_freq","payloadType":"flow","x":130,"y":1540,"wires":[["830585ef.4ac068"]]},{"id":"86d67de5.74ab2","type":"inject","z":"b77382f8.77c7d","name":"manhattan_freq","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"manhattan_freq","payloadType":"flow","x":140,"y":1500,"wires":[["830585ef.4ac068"]]},{"id":"b8b9a978.cbeba8","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Ham Calling","label":"","tooltip":"","place":"","group":"17f7261c.630faa","order":1,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":790,"y":200,"wires":[["e5c92556.fe5638"]]},{"id":"6ee9ec59.9edeb4","type":"function","z":"b77382f8.77c7d","name":"Ham Calling","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n   {\"2 m\":\"146.520\"},\n   {\"70 cm\":\"446.000\"} \n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["2052e1ec.e54d0e"]]},{"id":"2052e1ec.e54d0e","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[["b8b9a978.cbeba8"]]},{"id":"e5c92556.fe5638","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":200,"wires":[["5bee513d.90009"]]},{"id":"5bee513d.90009","type":"change","z":"b77382f8.77c7d","name":"set_ham_calling_freq_var","rules":[{"t":"set","p":"ham_calling_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":200,"wires":[[]]},{"id":"7d00f845.c8e108","type":"ui_dropdown","z":"b77382f8.77c7d","d":true,"name":"Preset","label":"Preset","tooltip":"","place":"","group":"8c1e6f34.9c377","order":3,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":530,"y":1920,"wires":[["8092127f.98c4e"]]},{"id":"b7f6310f.08a1b","type":"function","z":"b77382f8.77c7d","name":"Presets","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    \n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":100,"y":1920,"wires":[["8e8d785.340e588"]]},{"id":"8e8d785.340e588","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1920,"wires":[["7d00f845.c8e108"]]},{"id":"8092127f.98c4e","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1920,"wires":[["e459ead8.627c88"]]},{"id":"e459ead8.627c88","type":"change","z":"b77382f8.77c7d","name":"set_?_freq_var","rules":[{"t":"set","p":"manhattan_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1920,"wires":[[]]},{"id":"f069dbdd.2ad3e8","type":"inject","z":"b77382f8.77c7d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":1820,"wires":[["7b0be776.9e7518"]]},{"id":"f009627b.6e79c","type":"inject","z":"b77382f8.77c7d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ham_calling_freq","payloadType":"flow","x":160,"y":1460,"wires":[["830585ef.4ac068"]]},{"id":"9559e241.620de","type":"function","z":"b77382f8.77c7d","name":"Combine start parameters","func":"msg.payload = \n    flow.get(\"ham_calling_freq\") + \n    flow.get(\"citywide_freq\") + \n    flow.get(\"brooklyn_freq\") +\n    flow.get(\"manhattan_freq\") +\n    flow.get(\"manual_freq\") +\n    flow.get(\"nyc_repeaters_freq\") +\n    flow.get(\"weather_freq\") + \n    flow.get(\"mode\") + \n    flow.get(\"gain\") +\n    flow.get(\"device_index\") +\n    flow.get(\"squelch\") +\n    flow.get(\"sample_rate\") +\n    flow.get(\"play\") +\n    flow.get(\"sar\") +\n    flow.get(\"play-sar\") +\n    flow.get(\"stream\") +\n    flow.get(\"transcribe\") +\n    flow.get(\"deinvert\")\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":760,"wires":[["39ee8eb3.a60582","1d390a47.64ef46","6f0fc2b9.5c8dcc"]]},{"id":"2507f5f3.89de8a","type":"switch","z":"b77382f8.77c7d","name":"Start/Stop","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":800,"wires":[["9559e241.620de"],["de398aa7.3e9658","7d398d9b.1bca54"]],"outputLabels":["true","false"]},{"id":"de398aa7.3e9658","type":"exec","z":"b77382f8.77c7d","command":"/home/rlevit/scripts/rtl-fm-stop 0","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"rtlf-m-stop","x":1460,"y":820,"wires":[["6633c586.ee4afc"],["ecf44731.463638"],[]]},{"id":"39ee8eb3.a60582","type":"ui_text","z":"b77382f8.77c7d","group":"33d9f179.5fc76e","order":1,"width":0,"height":0,"name":"rtl-fm params","label":"rtl-fm Parameters","format":"rtl-fm{{msg.payload}}","layout":"col-center","x":1470,"y":720,"wires":[]},{"id":"c9e6deb4.1627d","type":"comment","z":"b77382f8.77c7d","name":"When an options is ON set incompatible options to OFF","info":"","x":220,"y":860,"wires":[]},{"id":"fcab1b73.c59988","type":"ui_dropdown","z":"b77382f8.77c7d","name":"NYC Repeaters","label":"","tooltip":"","place":"","group":"86b2a9fa.91e598","order":1,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":800,"y":240,"wires":[["ff2bad82.7734c"]]},{"id":"89583b18.7bfbc8","type":"function","z":"b77382f8.77c7d","name":"NYC Repeaters","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n    {\"KC2GOW SI 6m\":\"53.830\"},\n    {\"KC2GOW SI 2m\":\"147.315\"},\n    {\"WB2WAK Glen Oaks\":\"438.5125\"},\n    {\"KC2LEB SI\":\"440.550\"},\n    {\"WB2HWW\":\"440.700\"},\n    {\"KC2GOW SI\":\"445.125\"},\n    {\"WB2WAK Glen Oaks\":\"447.025\"},\n    {\"KQ2H Manhattan\":\"449.225\"} \n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":240,"wires":[["b748b985.bffda8"]]},{"id":"b748b985.bffda8","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":240,"wires":[["fcab1b73.c59988"]]},{"id":"ff2bad82.7734c","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":240,"wires":[["396d54e2.e35c7c"]]},{"id":"396d54e2.e35c7c","type":"change","z":"b77382f8.77c7d","name":"set_nyc_repeaters_freq_var","rules":[{"t":"set","p":"nyc_repeaters_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":240,"wires":[[]]},{"id":"6633c586.ee4afc","type":"debug","z":"b77382f8.77c7d","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":760,"wires":[]},{"id":"7b0be776.9e7518","type":"function","z":"b77382f8.77c7d","name":"All vars","func":"msg.payload = \n    flow.get(\"ham_calling_freq\") + \n    flow.get(\"citywide_freq\") + \n    flow.get(\"brooklyn_freq\") +\n    flow.get(\"manhattan_freq\") +\n    flow.get(\"manual_freq\") +\n    flow.get(\"nyc_repeaters_freq\") +\n    flow.get(\"weather_freq\") + \n    flow.get(\"mode\") + \n    flow.get(\"gain\") +\n    flow.get(\"squelch\") +\n    flow.get(\"sample_rate\") +\n    flow.get(\"device_index\") +\n    flow.get(\"play\") +\n    flow.get(\"sar\") +\n    flow.get(\"play-sar\") +\n    flow.get(\"deinvert\") +\n    flow.get(\"transcribe\") +\n    flow.get(\"stream\")\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1820,"wires":[["38ef057b.a1f27a"]]},{"id":"38ef057b.a1f27a","type":"debug","z":"b77382f8.77c7d","name":"all vars","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":1820,"wires":[]},{"id":"55ec4522.24ea2c","type":"inject","z":"b77382f8.77c7d","name":"On Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"str","x":100,"y":280,"wires":[["d8ec9a42.ad7708","fd6856a4.b554e8","89583b18.7bfbc8","9016f9d2.852d18","6ee9ec59.9edeb4","566db21e.ea132c","fb0e5184.463a7","936c51b2.5aa69","4715bdd3.e4a834","1dd747ca.1aab98","8d56fb06.269988"]]},{"id":"4715bdd3.e4a834","type":"function","z":"b77382f8.77c7d","name":"Reset all flow vars","func":"flow.set(\"ham_calling_freq\", \"\");\nflow.set(\"weather_freq\", \"\");\nflow.set(\"citywide_freq\", \"\");\nflow.set(\"brooklyn_freq\", \"\");\nflow.set(\"manhattan_freq\", \"\");\nflow.set(\"manual_freq\", \"\");\nflow.set(\"nyc_repeaters_freq\", \"\");\nflow.set(\"device_index\", \" -d 0\");\nflow.set(\"mode\", \"\");\nflow.set(\"gain\", \"\");\nflow.set(\"squelch\", \"\");\nflow.set(\"sample_rate\", \"\");\nflow.set(\"play\", \"\");\nflow.set(\"sar\", \"\");\nflow.set(\"play-sar\", \"\");\nflow.set(\"deinvert\", \"\");\nflow.set(\"transcribe\", \"\");\nflow.set(\"stream\", \"\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":540,"wires":[[]],"info":"Reset all flow vars to an empty string except for flow.device_index that needs to be set to 0 on this flow."},{"id":"cb6cefd0.c55eb","type":"ui_dropdown","z":"b77382f8.77c7d","name":"Weather","label":"","tooltip":"","place":"","group":"8c1f9590.97e718","order":1,"width":6,"height":1,"passthru":false,"multiple":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":780,"y":280,"wires":[["d257a9e2.3e6908"]]},{"id":"1dd747ca.1aab98","type":"function","z":"b77382f8.77c7d","name":"Weather","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nmsg.payload = \n[ \n   {\"Weather\":\"162.550\"} \n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["3e889fd1.28308"]]},{"id":"3e889fd1.28308","type":"change","z":"b77382f8.77c7d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["cb6cefd0.c55eb"]]},{"id":"d257a9e2.3e6908","type":"function","z":"b77382f8.77c7d","name":"Array to formatted string","func":"// This mapping file uses {\"name\":\"value\"} pairs to pre-fill the drop-down widget in the dashboard\n\nvar array = msg.payload;\nvar str = \"\"\narray.forEach(array_to_string);\n\nfunction array_to_string(item, index) {\n    str += \" -f \" + item + \"M\"; \n}\nmsg.payload = str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":280,"wires":[["a0213ce.b0a52c"]]},{"id":"a0213ce.b0a52c","type":"change","z":"b77382f8.77c7d","name":"set_weather_freq_var","rules":[{"t":"set","p":"weather_freq","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":280,"wires":[[]]},{"id":"2c695f7d.b725f","type":"inject","z":"b77382f8.77c7d","name":"On Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"70","payloadType":"num","x":360,"y":580,"wires":[["4004e33f.b5ec7c","df5fcf6c.13517"]]},{"id":"6f12e5e6.c81c7c","type":"inject","z":"b77382f8.77c7d","name":"On Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"str","x":1100,"y":720,"wires":[["39ee8eb3.a60582"]]},{"id":"7d398d9b.1bca54","type":"function","z":"b77382f8.77c7d","name":"Reset parameters and kill rtl-fm","func":"msg.payload = ''\nmsg.kill = ''\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":800,"wires":[["39ee8eb3.a60582","1d390a47.64ef46"]]},{"id":"6f0fc2b9.5c8dcc","type":"debug","z":"b77382f8.77c7d","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":680,"wires":[]}]